.form {

    &__button {
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        background-color: #66a2fe;
        border: none;
        width: 100%;
        border-radius: 10px;
        color: #fff;
        transition:  background-color 1s ease;

        &:hover {
            background-color: #326AC0;
            cursor: pointer;
        }
    }
}