.app {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;

  &__container1 {
    display: flex;
    justify-content: center;

    @media (max-width: 1130px) {
      display: none;
    }
  }

  &__container1, &__container2 {
    width: 48%;

    @media (max-width: 1130px) {
      width: 100%;
    }
  }

  &__container1-img {
    width: 90%;
    margin-top: 5rem;
    height: auto;
  }

  &__container2-title {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 80px;

    &::after {
      content: '';
      width: 100px;
      height: 6px;
      background-color: #66A2FE;
      display: block;
    }
  }
}